<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page | WikiMap</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/components.scss" />
  <script src="https://kit.fontawesome.com/ec6a812608.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('header') %>
  <div class="content">
    <%- include('nav') %>
    <main class = 'container'>
      <img src="https://github.com/curtis-wils0n/midterm-project/blob/styling-tests/images/Map-Pin.png?raw=true" id="pin-image">
      <p>Welcome to WikiMap! Collaborate with your friends by creating maps and placing locations of the places you want to share.</p>
      <img src ="https://raw.githubusercontent.com/curtis-wils0n/midterm-project/19342a8b05d1f667b01e7fefb1483a67f8659d8d/images/World_map_blank_without_borders.svg" alt = "Homepage Picture">
    </main>
  </div>
  <%- include('footer') %>
</body>

</html>
