<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class = "nav-title">"Name of Website"</nav>
    <a class="nav-item nav-link" href="/urls">My Profile</a>
    <a class="nav-item nav-link" href="/urls">Create Map</a>
    <a class="nav-item nav-link" href="/urls">Map List</a>
  </header>
  <main class = 'container'>
    <h1>"Name of Website"</h1>
    <img src = "../images/homepage-map.jpg">
    <p>Welcome to "Name of Website". Collaborate with your friends by creating maps and placing markers of the places you want to share! </p>
  </main>
</body>

</html>
