<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page | WikiMap</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <script src="https://kit.fontawesome.com/ec6a812608.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">
  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('header') %>
  <div class="content">
    <main class="welcome">
      <h1>Welcome to wikimap!</h1>
      <p>Collaborate with your friends by creating maps and placing locations of the places you want to share.</p>
      <hr>
      <h2>Create interactable maps</h2>
      <p>All wikimaps are shared publically, and authenticated users can help fill out maps with their own suggestions!</p>
      <img src="https://github.com/curtis-wils0n/midterm-project/blob/styling-tests/images/splash-example.png?raw=true" alt="An example of a black-and-white styled wikimap with red pins, labeled 'The best coffee shops in Calgary'." class="landing-page-image">
      <hr>
      <h2>Discover fascinating new locations</h2>
      <p>Explore maps made by others to find your next go-to restaurant, get ideas for first-date spots, or uncover underrated hiking trails.</p>
      <img src="https://github.com/curtis-wils0n/midterm-project/blob/styling-tests/images/coffee-front.jpg?raw=true" alt="An illustrated coffee shop storefront on a peach background with green bushes." class="landing-page-image">
      <hr>
      <h2>Save your favourites</h2>
      <p>Storing maps for later is made easy with a simple 'favourite' button, so your discoveries are kept safe.</p>
      <img src="https://raw.githubusercontent.com/curtis-wils0n/midterm-project/styling-tests/images/party-illustration.webp" alt="Vector image of a group partying with music" class="landing-page-image">
    </main>
  </div>
</body>

</html>
