<!DOCTYPE html>
<html lang="en">

<head>
  <title>Location: <%= location_id %></title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/location_show.js"></script>
</head>

<body>
  <div id="map-identifier" value="<%= map_id %>"></div>
  <div id="location-identifier" value="<%= location_id %>"></div>

  <h1 id="title"></h1>
  <p id="description"></p>
  <img src="" alt="" id="image">
</body>

</html>
