<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Map Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <script src="https://kit.fontawesome.com/ec6a812608.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/map_create.js" async defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&libraries=places" async defer></script>
</head>

<body>
  <%- include('header') %>
  <main class = 'container'>
    <h3>Update map</h3>
    <form id = 'newMapForm' action = '/maps/<%=map_id%>/update' method = 'POST'>
      <div>
        <fieldset>
          <label for="title">Enter map name:</label>
          <input type="text" name="title" placeholder="Map name" required/>
          <label for="description">Enter map description:</label>
          <textarea type="text" name="description" placeholder="Map description" required></textarea>
          <label for="pac-input">Search for city to start:</label>
          <input id = 'pac-input' name = 'pace-input' placeholder = 'search for place' type = 'text'/>
          <label for="zoom">Enter map zoom level:</label>
          <input type="number" name="zoom" placeholder="Zoom level" required/>
          <label for="lat">Enter latitude or use search above:</label>
          <input id = 'lat-location' type="number" step="any" name="lat" placeholder="Lat coords" required/>
          <label for="lng">Enter longitude or use search above:</label>
          <input id = 'lng-location'type="number" step="any" name="lng" placeholder="Lng coords" required/>
          <button type="submit">Update</button>
        </fieldset>
      </div>
    </form>
  </main>
</body>

</html>
