<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Map Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/create.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/body.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <script src="https://kit.fontawesome.com/ec6a812608.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap" rel="stylesheet">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('header') %>
  <main class = 'container'>
    <h3>Create a new map</h3>
    <form id = 'newMapForm' action = '/maps/create' method = 'POST'>
      <div>
        <fieldset>
          <label for="title">Enter map name:</label>
          <input type="text" name="title" placeholder="Map name" required/>
          <label for="description">Enter map description:</label>
          <textarea type="text" name="description" placeholder="Map description" required></textarea>
          <label for="zoom">Enter map zoom level:</label>
          <input type="number" name="zoom" placeholder="Zoom level" required/>
          <label for="lat">Enter latitude:</label>
          <input type="number" name="lat" placeholder="Lat coords" required/>
          <label for="lng">Enter longitude:</label>
          <input type="number" name="lng" placeholder="Lng coords" required/>
          <button type="submit">Create</button>
        </fieldset>
      </div>
    </form>
  </main>
</body>

</html>
