<!DOCTYPE html>
<html lang="en">

<head>
  <title>Scroller</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="stylesheet" href="/styles/scroller.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/scroller_animation.js"></script>

  <!-- <script defer src="/scripts/location_show.js"></script>
  <script defer src="/scripts/location_animation.js"></script> -->
</head>

<body>
  <!-- Button to scroll to top of webpage -->
  <button id = "scrollToTop">
    <i class="fa-solid fa-circle-arrow-up"></i>
  </button>
</body>

</html>
