body {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.header-title {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.header-item {
  text-decoration: none;
  color: white;
}

.fa-map-pin {
  margin: 10px;
}

.map-display {
  list-style-position: outside;
  margin-right: 20px;
  padding-left: 1.5em;
  padding-right: 2em;
}

#pin-image {
  width: 10vw;
}

.container p {
  font-style: italic;
}

.container img {
  width: 50vw;
}

#image {
  width: 50vw
}
