.container {
  display:flex;
  width:75%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


h3 {
  width: 50%;
  font-size:2em;
  font-weight: 900;
  text-decoration: none;
  word-wrap: break-word;
  font-family: 'Fuzzy Bubbles', cursive;
  text-align-last: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  font-family: 'Fuzzy Bubbles', cursive;
  word-wrap: break-word;
  font-weight: 900;
  text-align-last: center;
}

textarea {
  height: 10em;
  text-align: center;
}

input {
  text-align: center;
}

