//CSS for Navigation Section Placement
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  border-right: 5px solid black;
  margin-right: 2%;
}

//CSS for Navigation Title
.nav-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:300%;
  font-weight: 900;
  font-family: 'Fuzzy Bubbles', cursive;
}

//CSS for Navigation Directories
.nav-ref {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10% auto;
  font-size:200%;
  font-weight: 900;
  text-decoration: none;
  font-family: 'Fuzzy Bubbles', cursive;
}

.rainbow-letters {
  background-image: linear-gradient(to left, violet, indigo, blue, green, rgb(211, 211, 32), orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//Remove underline and color change from a href
a {
  margin: auto;
  text-decoration: none;
  color: inherit;
  margin-bottom: 10%;
}

a:hover {
  -webkit-transform: scale(1.2);
}
