// See: https://sass-lang.com/
body,
html {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: lightblue;
}

hr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}

button {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3%;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px;
}

button:active {
  color: white;
  background-color: black;
}

#green-button:hover {
  background-color: lightgreen;
}

#red-button:hover {
  background-color: pink;
}
