body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100vh;

  background: white;

}

header {
  display: flex;
  flex-direction: column;
  border-right: 5px solid black;
}

.nav-title {
  font-size:300%;
  font-weight: 900;
}
