main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  width: 50%;
  font-size:100%;
  font-weight: 900;
  text-decoration: none;
  word-wrap: break-word;
  font-family: 'Fuzzy Bubbles', cursive;
  text-align-last: center;
}

#google-map {
  width: 400px;
  height: 400px;
}
