// map show
#map-show-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1.5em;
}

#beside-map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#map-details {
  padding: 1.5em;
}

#map-buttons {
  padding: 0 1.5em 0 1.5em;
}

#map-container {
  display: flex;
  flex-direction: column;
  padding-right: 1.5em;
}

#pac-input {
  border: none;
  appearance: none;
  padding: 12px;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
}

#google-map {
  border: 2px solid black;
  border-radius: 10px;
  width: 75vw;
  height: 80vh;
  margin: 10px 0 10px 0;
}

#update-button {
  margin-bottom: 10px;
}


.iconStarActive {
  color: rgb(211, 52, 52);
  box-shadow: 2px 2px black;
}

#favourite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
