body {
  background-color: lightblue;
}

main {
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#newMapForm div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}


label {
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin: 1%;
  text-align: center;
}

input {
  width:75%;
  border-radius: 10px;
  margin-top: 4px;
  text-align: center;
  border-color: black;
}

textarea {
  width:75%;
  border-radius: 10px;
  margin-top: 4px;
  text-align: center;
  border-width: 2px;
  border-color: black;
}

form {
  margin: 1em;
  max-width: 75%;
  min-width: 30%;
  border-radius: 10px;
  border: none;
  background-color: lightgoldenrodyellow;
  border: 2px solid black;
}

button {
  background-color: white;
  color: black;
  padding: 3%;
  border-radius: 10px;
  margin:10px;
  font-weight: bold;
}

button:hover {
  background-color: lightgreen;
  color: black;
  cursor: pointer;
  box-shadow: 2px 2px;
}
