body {
  background-color: lightblue;
}

main {
  flex-direction: column;
  justify-items: center;
  align-items: center;
}


#profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  min-width: 30%;
  margin: 1%;
  border-radius: 10px;
  border: none;
  background-color: lightgoldenrodyellow;
  border: 2px solid black;
}

#name-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name-email-container h1 {
  margin-bottom: 0%;
}

#name-email-container h3 {
  color: grey;
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
}

#profile-image {
  border-radius: 75%;
  border: 2px solid black;
  width: 40%;
  margin-bottom: 2%;
}

//CSS for favourite and contribution list

#fav-contr-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  height: 70%;
  min-height: 50%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 49%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

.user-list {
  margin: 5%;
  text-align: center;
  list-style-type: none;
}

.user-list a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
  word-break: break-word;
  overflow-wrap: break-word;
}

.user-list a:hover {
  color: lightblue;
  text-shadow: 2px 2px 0 black;
}


